use_sops() {
    local path=${1:-$PWD/secrets/config.env}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}
use sops


export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

use devenv
